---
layout: base.njk
---

{% include "sections/hero.njk" %}
{% include "sections/about.njk" %}
{% include "sections/education.njk" %}
{% include "sections/publications.njk" %}
{% include "sections/projects.njk" %}
{% include "sections/awards.njk" %}
{% include "sections/supervision.njk" %}
{% include "sections/teaching.njk" %}
{% include "sections/activities.njk" %}
